<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>image_viewer</title>
    <link rel="stylesheet" href="content/bootstrap.min.css">
    <link rel="stylesheet" href="vue_style.css">
    <script src="content/vue.js"></script>
    <script src="content/vue-resource.min.js"></script>
    <script src="vue_viewer.js"></script>
</head>
<body>
<div id="app" class="container">
    <div class="header">
        <a class="top-button" @click="first = !first, second = false, third = false" href="#">first</a>
        <a class="top-button" @click="first = false, second = !second, third = false" href="#">second</a>
        <a class="top-button" @click="first = false, second = false, third = !third" href="#">third</a>
    </div>
    <div class="content">
        <div v-if="first">
            <input v-model="message"></br>
            {{message}}
        </div>
        <div v-if="second" style="width:200px; height:200px; background-color: green;"></div>
        <div v-if="third">{{first}} {{second}} {{third}}</div>
    </div>
</div>
</body>
</html>